

{

	"evidenceMediaPath"				: "../testEvidenceDir",
	"writeableMediaPath"			:	"../testWriteableMediaDir",
	"evidenceMediaLookPath"		:	"../testEvidenceDir",
	"writeableMediaLookPath"	:	"../testWriteableMediaDir"
	
}


