


<script>
	require([ 'socket.io/socket.io' ], function( io )  {
		console.log("Loading evidenceMediaList Data");

		var evidenceMediaList = [];
		var selectedEvidence;

		var writeableMediaList = [];
		var selectedDestination;
	
		var evidenceButtonList = [];
		var writeableButtonList = [];

		var blankDvdInserted = 0;

		if( ! window.theType ) {
			window.theType = "";
		}
	
		var socket = io.connect('http://localhost:8888');

	  socket.on('uncaughtException', function (data) {
	    console.log("Uncaught Exception Caught" );
			document.location="error.html";

	  });

	  socket.on('evidenceMediaList', function (data) {
	    console.log("new evidenceMediaList emitted" );
			evidenceMediaList = data.slice();
//			loadEvidenceList(evidenceMediaList);
			checkMediaList();

	  });

	  socket.on('writeableMediaList', function (data) {
	    console.log("new writeableMediaList emitted" );
			writeableMediaList = data.slice();
//			loadWriteableList(writeableMediaList);
			checkMediaList();
	  });

	  socket.on('blankDvdStateChange', function (data) {
	    console.log("new blankDvdStateChange emitted" );
			blankDvdInserted = data;
			checkMediaList();
	  });

	  socket.on('statusUpdate', function (data) {
			console.log("statusUpdate called:");
			if( data.percentDone != null) {
				console.log("percentDone = "+data.percentDone);
				var progressBar = dijit.byId("statusProgressBarDiv");
				if(progressBar) {
					progressBar.update( { maximum: 100, progress: data.percentDone} );
				}
				if( data.staticStatusInfo ) {
					dojo.byId("staticStatusId").innerHTML = ""; 
					for(var key in data.staticStatusInfo) {
						dojo.byId("staticStatusId").innerHTML += key+" : "+data.staticStatusInfo[key]+"<br>";
					}
				} 
				if ( data.dynamicStatusInfo ) {
					dojo.byId("dynamicStatusId").innerHTML = ""; 
					for(var key in data.dynamicStatusInfo) {
						dojo.byId("dynamicStatusId").innerHTML += key+" : "+data.dynamicStatusInfo[key]+"<br>";
					}
				}

			}


	  });

	  socket.on('processingComplete', function (data) {
			davinci.states.setState('complete');
	  });

//BEGIN loadEvidenceList
	var loadEvidenceList = function(theList) {
		console.log("loadEvidenceList called!\n");
		var offset = 150;
		
		evidenceButtonList.forEach( function(theButton) { 
			theButton.destroy();
		} );
		
		theList.forEach( function(theFile) {
			console.log("TheFile = "+theFile);
			var button = new dijit.form.Button( {
				label: theFile,
				class: "mmButton",
				onClick : function() 
					{
						selectedEvidence=theFile;
						davinci.states.setState('DestinationMenu')	
					}

			} );
			evidenceButtonList.push(button);
			dojo.byId("emlTemplateId" ).appendChild(button.domNode);
			button.set("style", "top="+offset+"px;  left: 50%;  position: fixed; z-index: 900;" );
			dojo.setStyle(button.domNode,"top",offset+"px");
			offset += 125;

	} );

	}; 	
// END loadEvidenceList

//BEGIN loadWriteableList
	var loadWriteableList = function(theList) {
		console.log("loadWriteableList called!\n");
		var offset = 150;

		writeableButtonList.forEach( function(theButton) { 
			theButton.destroy();
		} );
		
		theList.forEach( function(theFile) {
			console.log("TheFile = "+theFile);
			var button = new dijit.form.Button( {
				label: theFile,
				class: "mmButton",
				onClick : function() 
					{
						selectedDestination=theFile;
						davinci.states.setState('MetaMenu')	
					}

			} );
			writeableButtonList.push(button);
			dojo.byId("destinationListId" ).appendChild(button.domNode);
			button.set("style", "top="+offset+"px;  left: 50%;  position: fixed; z-index: 900;" );
			dojo.setStyle(button.domNode,"top",offset+"px");
			offset += 125;

	} );

	}; 	
// END loadWriteableList

	//BEGIN beginProcessing
	beginProcessing = function() {
		console.log("Begining Processing!");
		
		var requestedOps = ['HashEvidence', 'BurnDVD', 'HashDVD', 'VerifyMatch'  ];

		var userMeta = {};
		
		if( window.theType == "usbAcquire" || window.theType == "opticalAcquire" ) {
			var caseNum = dojo.byId("meta_casenum");
			if(caseNum) {
				userMeta['Case #'] = caseNum.value;
			}
			var taxNum = dojo.byId("meta_taxid");
			if(taxNum) {
				userMeta['Tax #'] = taxNum.value;
			}
			var discDesc = dojo.byId("meta_discDesc");
			if(discDesc) {
				userMeta['Disc Description'] = discDesc.value;
			}
			var otherInfo = dojo.byId("meta_otherInfo");
			if(otherInfo) {
				userMeta['Other Information'] = otherInfo.value;
			}

		}		
	  socket.emit('beginProcessing', {
									"requestedOps": requestedOps,
									"taskType": window.theType,
									"userMeta": userMeta,
									"selectedEvidence": selectedEvidence,
									"selectedDestination": selectedDestination
						   } );
		location.href='/process.html'
//		davinci.states.setState('ProcessingScreen');
	};
	//END beginProcessing

	//BEGIN usbAcquire
	usbAcquire = function() {
		console.log("Ejecting Drives");
	  socket.emit('ejectDrives', { } );
		document.location="usbAcquire.html";
	};	
	//END usbAcquire

	//BEGIN opticalAcquire
	opticalAcquire = function() {
		console.log("Ejecting Drives");
	  socket.emit('ejectDrives', { } );
		document.location="opticalAcquire.html";
	};	
	//END opticalAcquire

	//BEGIN checkStatus
	checkStatus = function() {
	  socket.emit('checkStatus', { } );
	}
	//END checkStatus
	if(window.theType == "processPage" ) {
		checkStatus();
	}


	//BEGIN checkForDrives
	checkForDrives = function() {
	  socket.emit('checkForDrives', { } );
		davinci.states.setState('step2')

		checkMediaList();
//		if( evidenceMediaList.length > 0 ) { 
//			dojo.byId("usbEvidenceFoundDiv").innerHTML = "TEST";
//		}

	}
	//END checkForDrives

	//BEGIN driveFound
	  socket.on('driveFound', function (data) {
	    console.log("new writeableMediaList emitted" );
			writeableMediaList = data.slice();
			loadWriteableList(writeableMediaList);
	  });
	//END driveFound
	
	checkMediaList = function() {
		console.log("checkMediaList called! theType="+window.theType);
		if( window.theType == "usbAcquire" || window.theType == "opticalAcquire" ) {
			if( writeableMediaList.length == 1 ) { 
				dojo.byId("usbWriteableFoundDiv").innerHTML = "FOUND!";
				selectedDestination = writeableMediaList[0];
			} else if ( writeableMediaList.length > 1 ) { 
				dojo.byId("usbWriteableFoundDiv").innerHTML = "==ERROR - TOO MANY!==";
				selectedDestination = '';
			} else if ( writeableMediaList.length == 0 ) { 
				dojo.byId("usbWriteableFoundDiv").innerHTML = "==NONE FOUND==";
				selectedDestination = '';
			} 

			if( blankDvdInserted == 1 ) { 
				dojo.byId("blankDiscFoundDiv").innerHTML = "FOUND!";
			} else  { 
				dojo.byId("blankDiscFoundDiv").innerHTML = "==NONE FOUND==";
			}

		}
		if (theType == "usbAcquire" ) {
			console.log("checkMediaList:evidenceMediaList == "+evidenceMediaList.length);
			if( evidenceMediaList.length == 1 ) { 
				dojo.byId("usbEvidenceFoundDiv").innerHTML = "FOUND!";
				selectedEvidence = evidenceMediaList[0];
			} else if ( evidenceMediaList.length > 1 ) { 
				dojo.byId("usbEvidenceFoundDiv").innerHTML = "==ERROR - TOO MANY!==";
				selectedEvidence = '';
			} else if ( evidenceMediaList.length == 0 ) { 
				dojo.byId("usbEvidenceFoundDiv").innerHTML = "==NONE FOUND==";
				selectedEvidence = '';
			} 
		}
		if (theType == "opticalAcquire" ) {
			console.log("checkMediaList:evidenceMediaList == "+evidenceMediaList.length);
			if( evidenceMediaList.length == 1 ) { 
				dojo.byId("theEvidenceFoundDiv").innerHTML = "FOUND!";
				selectedEvidence = evidenceMediaList[0];
			} else if ( evidenceMediaList.length > 1 ) { 
				dojo.byId("theEvidenceFoundDiv").innerHTML = "==ERROR - TOO MANY!==";
				selectedEvidence = '';
			} else if ( evidenceMediaList.length == 0 ) { 
				dojo.byId("theEvidenceFoundDiv").innerHTML = "==NONE FOUND==";
				selectedEvidence = '';
			} 
		}



	}


	} );
	//END socket.io connection
</script>
	





