
<% include header.html %>


<% include e4aScript.html %>

 <div data-dojo-type="dijit/layout/ContentPane" title="Pane" extractContent="false" preventCache="false" preload="false" refreshOnShow="false" doLayout="false" class="mmContentPane"><span style="color: white; text-align: center; font-size: 24px; width: 100%; position: fixed; top: 80px;" >Welcome To:<br>
   Easy Forensic Acquisition<br>
     What do you have?</br>
</br>
</span><input type="button" data-dojo-type="dijit/form/Button" id="mainButton1" intermediateChanges="false" label="1. I have a DVD with files on it and I want to hash and burn a copy of it to another disc." iconClass="dijitNoIcon" style=" top: 200px;" class="test" ></input>
<input type="button" data-dojo-type="dijit/form/Button" intermediateChanges="false" label="2. I have a USB Drive with files on it and I want to hash and burn a copy of it to a disc (DVD)." iconClass="dijitNoIcon" style=" top: 300px;" class="test" data-maq-deltas="{'MainState':{'style':[{'display':''}]}}" onclick="location.href='usbAcquire.html'"></input>
<input type="button" data-dojo-type="dijit/form/Button" intermediateChanges="false" label="3. I already have two discs (DVDs) and I want to Verify that the files on them are the same." iconClass="dijitNoIcon" style=" top: 400px;" class="test" data-maq-deltas="{'MainState':{'style':[{'display':''}]}}"></input>
<input type="button" data-dojo-type="dijit/form/Button" intermediateChanges="false" label="4. I have a DVD or USB Drive and a USB Drive with a FileHashReport that I want to Verify." iconClass="dijitNoIcon" style=" top: 500px;" class="test" data-maq-deltas="{'MainState':{'style':[{'display':''}]}}"></input>
<input type="button" data-dojo-type="dijit/form/Button" intermediateChanges="false" label="5. I have a DVD that I want to duplicate to another DVD (NO FILE HASHING DONE)." iconClass="dijitNoIcon" style=" top: 600px;" class="test" data-maq-deltas="{'MainState':{'style':[{'display':''}]}}"></input>
<input type="button" data-dojo-type="dijit/form/Button" intermediateChanges="false" label="6. I want to change the settings." iconClass="dijitNoIcon" style="top: 700px;" class="test" data-maq-deltas="{'MainState':{'style':[{'display':''}]}}"></input>
</div>



<% include footer.html %>

