
<% include header.html %>

 <div data-dojo-type="dijit/layout/ContentPane" title="Pane" extractContent="false" preventCache="false" preload="false" refreshOnShow="false" style="position: absolute; z-index: 900; width: 100%; height: 100%;" doLayout="false" class="mmContentPane">
  <h1 style="top: 64px; position: relative;" class="mmH1">
    Acquire Evidence<br></br>Select Evidence to Process :</h1>

		<div id=emlTemplateId >
		<% include ../../E4A/clientviews/evidenceMediaList.html %>
		</div>
	<!-- BEGIN evidenceMediaList view -->
<script>
	require([ 'socket.io/socket.io' ], function(io)  {
		console.log("Loading evidenceMediaList Data");
//		var evidenceMediaList = [];
		var emlTemplate = new EJS({url: 'clientviews/evidenceMediaList.html'});
//		document.getElementById('emlTemplateId').innerHTML = emlTemplate.render(evidenceMediaList);
		var socket = io.connect('http://localhost:8888');
	  socket.on('evidenceMediaList', function (data) {
	    console.log("new evidenceMediaList emitted" );
//	    socket.emit('my other event', { my: 'data' });
			console.dir(data);
//			document.getElementById('emlTemplateId').innerHTML = emlTemplate.update('emlTemplateId',{ 'evidenceMediaList': data} );
			 emlTemplate.update('emlTemplateId',{ 'evidenceMediaList': data} );


	  });

	} );
</script>
	
	<!-- END evidenceMediaList view -->

  <input type="button" data-dojo-type="dijit/form/Button" intermediateChanges="false" label="Back" iconClass="dijitNoIcon" style="left: 70%; top: 70%; position: absolute; z-index: 900;" class="mmButton" onclick="davinci.states.setState('MainMenu')"></input>
</div>



<% include footer.html %>



